//Colors Starts
$primary: rgba(0, 71, 136, 1);
$secondary: rgba(246, 136, 37, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(28, 28, 28, 1);
$red: rgba(246, 57, 37, 1);
$green: rgba(137, 195, 73, 1);
$blue: rgba(0, 147, 177, 1);
$silver: rgba(249, 249, 249, 1);
$yellow: rgba(251, 173, 65, 1);
//Colors Ends